/* pagination.module.css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.activeLink {
  background-color: #007bff;
  color: white;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
